news-viewer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr
}
.description{
    display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;  
      overflow: hidden;
}
a{
    text-decoration: none;
    color: black;
}
[popover] {
    margin: 0;
    padding: 0;
    border: 0;
  }
  #anchor_1 {
    anchor-name: --anchor_1;
  }
  [popover] {
    border: 1px solid;
    padding: 1rem;
    position: absolute;
    width: 10rem;
    position-anchor: --anchor_1;
    top: anchor(--anchor_1 bottom); 
    left: anchor(--anchor_1 right); 
    
  /*  inset-block-start: anchor(--anchor_1 bottom);*/
  /*  inset-inline-start: anchor(--anchor_1 right);*/
  }